/*------------Global-----------------*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  font-family: Lato; }

a {
  text-decoration: none;
  outline: none;
  font-family: 'Lato Regular'; }

h1 {
  font-family: "Lato ExtraBold"; }

p {
  font-family: "Lato Regular"; }

*:focus {
  outline: none !important; }

/*-------------------Menu-----------------*/
.shadow-sm {
  box-shadow: 0 0.05rem 0.05rem rgba(0, 0, 0, 0.18) !important; }

.navbar-brand {
  padding: 0;
  text-transform: uppercase; }
  .navbar-brand img {
    width: 3.65em;
    padding-top: 0.6em;
    padding-bottom: 0.6em; }

.navbar {
  padding: 0; }
  .navbar .navbar-nav {
    text-transform: uppercase; }
  .navbar .nav-link {
    color: #45413e !important;
    font-size: 0.93em; }
  .navbar .nav-icons img {
    width: 1.65em;
    height: 1.65em;
    filter: invert(59%) sepia(0%) saturate(2391%) hue-rotate(138deg) brightness(3%) contrast(28%); }
    .navbar .nav-icons img:hover {
      filter: invert(75%) sepia(307%) saturate(1558%) hue-rotate(539deg) brightness(68%) contrast(149%); }
  .navbar .nav-icons button {
    background: none;
    border: none; }

.navbar-nav li a {
  position: relative;
  text-transform: uppercase;
  padding-bottom: 8px; }
  .navbar-nav li a:before, .navbar-nav li a:after {
    content: '';
    position: absolute;
    bottom: -17px;
    left: 0;
    right: 0;
    height: 2.5px;
    background-color: #5383d3; }
  .navbar-nav li a:before {
    opacity: 0;
    transform: translateY(-10px);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s; }
  .navbar-nav li a:after {
    opacity: 0;
    transform: translateY(5px);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.3s; }
  .navbar-nav li a:hover:before, .navbar-nav li a:hover:after {
    opacity: 1;
    transform: translateY(0); }
  .navbar-nav li a:hover:before {
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.3s; }
  .navbar-nav li a:hover:after {
    transition: transform 0s 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.3s; }

.custom-select {
  padding: .15rem 1.75rem .4rem .75rem;
  border: none;
  float: left;
  color: #45413e;
  cursor: pointer;
  background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E) no-repeat right 0.85rem center/8px 10px;
  background-position-y: 13px;
  opacity: .85; }

.custom-select:focus {
  border-color: unset;
  outline: 0;
  box-shadow: none; }

.selectors-l-m {
  margin: 0 11em 0 1em; }

.lang-selector {
  margin: 0;
  float: left; }

.money-selector {
  margin: 0;
  float: left; }

/*----------------Carousel on top-----------------*/
.carousel-top .carousel {
  height: 26em;
  margin: 1.5em auto; }

.carousel-top .carousel-item {
  height: 26em; }

.carousel-top .carousel-inner {
  border-radius: 0.5em; }

.carousel-top .carousel-caption {
  position: absolute;
  right: 9.5%;
  left: 9.5%;
  z-index: 10;
  color: #fff;
  text-align: center; }
  .carousel-top .carousel-caption h1 {
    padding-bottom: 1em;
    font-size: 3em; }
  .carousel-top .carousel-caption a {
    text-decoration: none;
    font-family: 'Lato Regular';
    cursor: auto; }

.carousel-top .carousel-indicators {
  margin-left: auto;
  margin-right: auto; }
  .carousel-top .carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 3px solid transparent; }
    .carousel-top .carousel-indicators li.active {
      background: transparent;
      border: 3px solid #fff;
      width: 12px;
      height: 12px; }

.carousel-top .button_carousel_1 {
  cursor: pointer;
  width: 10.5em;
  height: 2.8em;
  color: #fff;
  display: block;
  text-align: center;
  margin: 2.8em auto 2em auto;
  padding: 0;
  border-radius: 9em;
  border: 1.5px solid #fff;
  background-color: transparent;
  text-transform: uppercase;
  transition: .3s; }
  .carousel-top .button_carousel_1:hover {
    color: #45413e;
    background-color: #fff;
    text-decoration: none; }

/*----------------Carousel on top end-----------------*/
/*-------------Full width image--------------*/
.full-width-image {
  position: sticky;
  width: auto;
  height: 100%;
  background-image: url(../images/design-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  padding: 1em 1em 1em 1em;
  background-position: center;
  box-shadow: inset 0 0 20em #000000; }

.f-image_text {
  position: relative;
  text-align: center;
  color: #fff;
  padding: 9em; }
  .f-image_text h1 {
    font-size: 4.04em;
    color: darkslategray; }
  .f-image_text p {
    font: normal 1.1em 'Cookie', cursive;
    color: darkslategray; }

/*-------------Full width image end--------------*/
/*--------------Slider-under-menu-----------------*/
.bg-slider {
  background-color: #262a32;
  padding: 1.5em; }

.bg-slider .slick-slider {
  width: 45em;
  height: 20em;
  margin-left: auto;
  margin-right: auto; }

.bg-slider .slick-dotted.slick-slider {
  margin: 0px auto 40px auto; }

.bg-slider .slick-prev {
  left: 50px; }

.bg-slider .slick-next {
  right: 50px; }

.bg-slider .slick-next {
  top: -14.3%; }

.bg-slider .slick-prev {
  top: -14.3%; }

.bg-slider .slick-next:before {
  font-family: FontAwesome;
  font-size: 26px;
  content: "\f0a9"; }

.bg-slider .slick-prev:before {
  font-family: FontAwesome;
  font-size: 26px;
  content: "\f0a8"; }

.slider-img-u-menu img {
  width: 25em;
  height: 16em;
  padding-left: 1.5em;
  padding-right: 4em; }

.slider-menu-heading {
  color: #fff;
  font-family: "Lato ExtraBold";
  text-align: center;
  padding-bottom: 1.3em; }
  .slider-menu-heading p {
    font-size: larger; }
  .slider-menu-heading hr {
    background-color: #fff;
    width: 35em;
    justify-content: center;
    display: inline-flex;
    height: .03em; }

/*-------------------Footer-----------------*/
footer {
  position: relative;
  bottom: 0; }

.footer-company-about ul {
  margin: auto; }

.footer-company-about li {
  list-style-type: none;
  padding-top: .55em; }
  .footer-company-about li :hover {
    color: #5383d3; }

.footer-company-about a {
  font-family: 'Lato Regular';
  font-size: 13px;
  color: #92999f;
  text-decoration: none;
  z-index: 1; }

.footer-company-about .top-li {
  padding-top: 0em; }

.footer-distributed .footer-left {
  width: auto !important;
  justify-content: center;
  display: grid !important; }
  .footer-distributed .footer-left img {
    margin-left: auto;
    margin-right: auto;
    width: 7em;
    padding-bottom: 1em; }

.separate-line hr {
  border-top: 1px solid rgba(0, 0, 0, 0.26); }

.footer-distributed {
  background-color: #fff;
  box-sizing: border-box;
  width: -webkit-fill-available;
  text-align: left;
  padding: 35px 50px; }
  .footer-distributed .col-lg-3 {
    width: 24.4%; }

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top; }

.footer-distributed .footer-left {
  width: 40%; }

.footer-distributed h3 {
  color: #45413e;
  font: normal 36px 'Cookie', cursive;
  margin: 0; }
  .footer-distributed h3 span {
    color: #5383d3; }

.footer-distributed .footer-links {
  color: #fff;
  margin: 20px 0 12px;
  padding: 0; }

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit; }

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0; }

.footer-distributed .footer-center {
  width: 28%; }
  .footer-distributed .footer-center h6 {
    color: #45413e;
    font-weight: 700; }
  .footer-distributed .footer-center i {
    color: #45413e;
    font-size: 18px;
    height: 38px;
    line-height: 42px;
    margin-right: 15px;
    vertical-align: middle; }
  .footer-distributed .footer-center i.fa-envelope {
    font-size: 15px;
    line-height: 38px; }
  .footer-distributed .footer-center p {
    display: inline-block;
    color: #45413e;
    vertical-align: middle;
    margin: 0; }
  .footer-distributed .footer-center p a {
    color: #5383d3; }

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0; }
  .footer-distributed .footer-company-about span {
    display: block;
    color: #45413e;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px; }

.footer-distributed .footer-icons a {
  display: table;
  cursor: pointer;
  font-size: 23px;
  color: #45413e;
  text-align: center;
  line-height: 35px;
  margin: 0em 0.8em;
  width: 0px; }
  .footer-distributed .footer-icons a :hover {
    color: #5383d3; }

.footer-icons {
  justify-content: center;
  display: flex; }

.year {
  margin-bottom: 0em;
  padding-bottom: 0em;
  margin-top: 2em;
  font-size: 0.9em;
  color: #45413e;
  display: flex; }

@media (max-width: 880px) {
  .footer-distributed {
    font-size: 14px; }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    text-align: center;
    margin-left: 0em; }
  .footer-distributed .footer-center i {
    margin-left: 0; }
  .main {
    line-height: normal;
    font-size: auto; } }
