@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
$red: #ce0000;
$color-blue: #5383d3; 
$color-white: #fff;
$color-gray: #262a32;
$duration: .3s;
$distance: 10px;
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$lato-bold: "Lato ExtraBold";

/*------------Global-----------------*/
* {
    margin: 0px;
    padding: 0px;
	box-sizing: border-box; 
}

body {
	font-family: 'Lato'; 
}

a {
    text-decoration: none;
	outline: none; 
	font-family: 'Lato Regular';	
}

h1, h2 {
	font-family: "Lato ExtraBold";
}

h6 {
	font-family: "Lato Regular";
}

label {
	font-family: "Lato Regular";
}

p {
	font-family: "Lato Regular";
	margin-bottom: 0;
}

*:focus {
    outline: none !important; 
}


/*-------------------Menu-----------------*/

.shadow-sm {
	box-shadow: 0 0.05rem .05rem rgba(0,0,0,.18)!important;
}

.navbar-brand {
    img {
		width: 3.65em;
		padding-top: 0.6em;
		padding-bottom: 0.6em;
    }
    padding: 0;
    text-transform: uppercase;
}

.navbar {
    padding: 0;
    .navbar-nav {
        text-transform: uppercase;
    }
    .nav-link {
        color: $color-gray!important;
		font-size: 0.93em;
		padding-top: 1.7em;
		padding-bottom: 1.7em;
    }

    .nav-icons img {
        width: 1.65em;
        height: 1.65em;
		filter: invert(59%) sepia(0%) saturate(2391%) hue-rotate(138deg) brightness(3%) contrast(28%);
		&:hover {
			filter: invert(75%) sepia(307%) saturate(1558%) hue-rotate(539deg) brightness(68%) contrast(149%);    
	 }
    }

    .nav-icons button {
        background: none;
        border: none;
    }
}

.navbar-nav li a {
    position: relative;
    text-transform: uppercase;
    padding-bottom: 8px;
   &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0; right: 0;
        height: 2.7px;
        background-color: $color-blue;
    }
    &:before {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0s $easeOutBack, opacity 0s;
    }
    &:hover {
        &:before {
            opacity: 1;
            transform: translateY(0);
        }
        &:before {
            transition: transform $duration $easeOutBack, opacity $duration;
        }
		color: $color-blue!important;
    }
}

.dropdown-menu {
	.line-1, .line-2, .line-3 {
		border-right: 1px solid rgba(0, 0, 0, 0.17);
	}
	.row {
		.dropdown-item {
			font-size: 13px;
			padding: .25rem 0rem;
			width: 0%;
			text-transform: capitalize;
		}
		.col-lg-3 {
			a:hover {
				&:before {
					display: none;
				}
				background-color: unset;
				color: $color-blue;
			}
			padding: 1em 6.6em;
		}
		display: contents;
		margin-left: auto;
		margin-right: auto;
	}
	.container {
		padding: 1em;
	}
	background-clip: unset;
	border: none;
	border-top: 1px solid rgba(0, 0, 0, 0.17);
	border-radius: unset;
	margin: 0em;
}

.dropdown:hover {
	display: block;
}

.dropdown-toggle {
	&:after {
		display: inline-block;
		margin-left: 1.1em;
		vertical-align: 0.2em;
		content: "";
		border-top: .4em solid;
		border-right: .4em solid #ffffff00;
		border-bottom: 0;
		border-left: .4em solid transparent;
		opacity: 0.45;
	}
}

.custom-select {
	padding: .15rem 1.75rem .4rem .75rem;
    border: none;
    float: left;
    color: #45413e;
    cursor: pointer;
	background: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E) no-repeat right 0.85rem center/8px 10px;
	background-position-y: 13px;
	opacity: .85;
}

.custom-select:focus {
	border-color: unset;
	outline: 0;
	box-shadow: none; 
}

.selectors-l-m {
	margin: 0 7em 0 1em;
}

.lang-selector {
	margin: 0;
	float: left;
}
  
.money-selector {
	margin: 0;
	float: left;
}

/*-----------------Heart number----------------------------------*/
#HeartCount {
	margin-left: 3px;
	margin-top: -34px;
	border: 1.5px solid $color-white;
	border-radius: 8em;
	position: absolute;
	font-size: 0.73em;
	background: $color-blue;
	color: $color-white;
	padding: 0 5px; 
}

#LikeCount {
	margin-left: 2px;
	margin-top: -34px;
	border: 1.5px solid $color-white;
	border-radius: 8em;
	position: absolute;
	font-size: 0.73em;
	background: $color-blue;
	color: $color-white;
	padding: 0 5px; 
}

#HeartCount-2 {
    margin-left: -10px;
    margin-top: -7px;
	border: 1.5px solid $color-blue;
	border-radius: 8em;
	position: absolute;
	font-size: 0.73em;
	background: $color-gray;
	color: $color-white;
	padding: 0 5px; 
}

#LikeCount-2 {
    margin-left: -12px;
    margin-top: -7px;
	border: 1.5px solid $color-blue;
	border-radius: 8em;
	position: absolute;
	font-size: 0.73em;
	background: $color-gray;
	color: $color-white;
	padding: 0 5px; 
}
/*-----------------Heart number end----------------------------------*/

/*-----------------------login popup-----------------------*/
input[type=text], input[type=password] {
	width: 100%;
	padding: 10px 20px;
	margin-top: 4px;
	margin-bottom: 18px;
	display: inline-block;
	border: 1.5px solid #d7d7d7;
	box-sizing: border-box;
	border-radius: 2em; 
}
  
/*-----------------------password field-----------------------*/
.modal {
	h2 {
		font-size: 2.50em;
		text-align: center;
		padding-top: 0.8em;
		padding-bottom: 0.5em;
		color: $color-gray;
		}
	label {
		color: $color-gray;
		font-size: 1.17em;
		font-size: 1.08em;
		}
	button {
		background-color: $color-blue;
		border: 1.8px solid $color-blue;
		color: $color-white;
		padding: 7px 20px;
		margin: auto;
		cursor: pointer;
		width: 40%;
		border-radius: 2em;
		text-transform: uppercase;
		font-size: .93em;
		transition: 0.3s; 
		&:hover {
			color: $color-blue;
			border: 1.8px solid $color-blue;
			background-color: $color-white; 
			}
		}
	span.psw {
		color: $color-gray;
		font-size: 0.886em; 
		a {
			color: $color-gray; 
			&:hover {
				color: $color-blue; 
				}
			}
		}
	.modal-content {
		background-color: $color-white;
		margin: 4.5% auto 15% auto;
		border: 1px solid #888;
		width: 26em;
		height: 30.4em;
		border-radius: .45rem; 
		.moving a {
			color: $color-gray;
			float: right;
			font-size: 0.886em; 
			&:hover {
				color: $color-blue; 
				}
			}
	}
	.input-container {
		display: flex;
		align-items: center;
		border: 1.5px solid #d7d7d7;
		border-radius: 2em;
		padding-left: 1em; 
		input {
			padding: 5.5px 0px 0px 4px;
			width: 100%;
			font-size: 16px;
			border: 0;
			outline: none;
			color: #333;
			margin-bottom: 10px; 
		}
		i {
			margin: 0 10px;
			color: $color-blue;
			cursor: pointer; 
			padding-right: 0.2em;
			}
	}
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: none;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 4em;
	z-index: 10000;
	margin: auto; 
	.wrapper {
		text-align: center;
		padding: 2.5em 1em 0em 1em; 
		}
	.wrapper-2 {
		text-align: center;
		padding: 1.5em 1em 0em 1em;
		}
	.container {
		width: 90%;
		height: 90%;
		padding-left: 1.5em;
		padding-right: 1.5em;
		margin: auto; 
		}
}

.animate {
-webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s; 
}
  
@-webkit-keyframes animatezoom {
	from {
	-webkit-transform: scale(0); 
}
	to {
	-webkit-transform: scale(1); } 
}

@keyframes animatezoom {
	from {
	transform: scale(0); 
}
	to {
	transform: scale(1); } 
}
  
/*-----------------------login popup----end-------------------*/

/*----------------Carousel on top-----------------*/
.carousel-top .carousel {
	height: 26em;
}

.carousel-top .carousel-item {
	.stay-middle {
		right: 13%;
		left: 13%;
	}
	.padding-left {
		padding-left: 10.8rem;
	}
	img {
		height: fit-content;
	}
	height: 26em;
}

.carousel-top .carousel-caption {
	p1 {
		width: -webkit-fill-available;
	}
	h1 {
		padding-bottom: 0.5em;
		font-size: 3em;
	}
	a {
		text-decoration: none;
		font-family: 'Lato Regular'; 
		cursor: auto;
	}
	position: absolute;
	right: auto;
	left: auto;
	z-index: 10;
	color: $color-white;
	text-align: center; 
}

.carousel-top .carousel-indicators {
	li {
		width: 12px;
		height: 12px;
		border-radius: 100%;
		border: 3px solid transparent; 
		margin-left: 0.4em;
    	margin-right: 0.4em;
		&.active {
			background: transparent;
			border: 3px solid $color-white;
			width: 12px;
			height: 12px; 
		}
	}
	margin-left: auto;
	margin-right: auto;
	bottom: 0.7em;
}

.carousel-top .button_carousel_1 {
	cursor: pointer;
	width: 10.5em;
	height: 2.8em;
	color: $color-white;
	display: block;
	text-align: center;
	margin: 2.8em auto 2em auto;
	padding: 0;
	border-radius: 9em;
	border: 1.5px solid $color-white;
	background-color: transparent;
	text-transform: uppercase;
	transition: .3s;
	&:hover {
		color: $color-white;
		background-color: $color-blue;
		text-decoration: none; 
		border: 1.5px solid $color-blue;
	}
}
/*----------------Carousel on top end-----------------*/

/*-------------Work cards--------------*/
.work-cards {
	background-color: $color-gray;
	.title-cards {
		padding-bottom: 1em;
	}
}

.work-cards-head {
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	h1 {
		color: white;
		margin-left: auto;
		margin-right: auto;
		padding-top: 1.5em;
		padding-bottom: 0.3em;
	}
}

.hr-line-1-cards {
	hr {
		border-top: 2.4px solid #8b8b8b;
		margin: 0;
		opacity: 0.2; 
	}
	width: 23em;
	float: left;
	margin-top: 5.25em; 
}

.hr-line-2-cards {
	hr {
		border-top: 2.4px solid #8b8b8b;
		margin: 0;
		opacity: 0.2; 
	}
	width: 23em;
	float: right;
	margin-top: 5.25em; 
}

.work-cards-1 {
	.row {
		margin-right: 0;
		margin-left: 0;
		padding-bottom: 2.45em;
	}
	.distance {
		margin-left: 2.45em;
	}
}

.heart {
	img {
		width: 2em;
		height: 2em;
		cursor: pointer;
		filter: invert(33%) sepia(132%) saturate(2404%) hue-rotate(-349deg) brightness(16%) contrast(55%);
		&:hover {
			content: url(../images/heart-full.svg);
			width: 2em;
			height: 2em;
			cursor: pointer;
			filter: invert(34%) sepia(132%) saturate(2404%) hue-rotate(342deg) brightness(85%) contrast(165%);
		}
	}
	float: right;
	padding-right: 4.5em;
}

.like {
	img {
		width: 2em;
		height: 2em;
		cursor: pointer;
		filter: invert(33%) sepia(132%) saturate(2404%) hue-rotate(-349deg) brightness(16%) contrast(55%);
		&:hover {
			content: url(../images/like.svg);
			width: 2em;
			height: 2em;
			cursor: pointer;
			filter: invert(75%) sepia(307%) saturate(1558%) hue-rotate(539deg) brightness(68%) contrast(149%); 
		}
	}
	float: left;
	padding-left: 4.5em;
}
  
.work-card-1 {
	img {
		border-top-left-radius: 0.511em;
		border-top-right-radius: 0.511em; 
	}
	h6 {
		margin: 11px 0px 5px 0px;
		font-size: .93em;
	}
    width: 15.5em;
    height: 21em;
	text-align: center;
	font-family: arial;
	background-color: $color-white;
	border-radius: 0.650em; 
}

/*-------------Work cards Hidden--------------*/

.work-cards-1-hidden {
	.content {
		display: none;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
		padding-bottom: 2.45em;
	}
	.distance {
		margin-left: 2.45em;
	}
}

/*------------Work cards button---------*/
.work-card-button {
	i {
		color: $color-white;
		transform: rotate(225deg); 
	}
	display: flex;
	width: 100%;
	height: auto;
	margin: auto;
	background: $color-gray;
	padding: 0px 20px 20px 20px;
	z-index: 0; 
}

  
#loadMore {
	width: 13em;
	height: 3em;
	color: $color-white;
	display: block;
	text-align: center;
	margin: 1em auto 2.2em auto;
	padding: 8px;
	border-radius: 8em;
	border: 1.5px solid $color-white;
	background-color: transparent;
	text-transform: uppercase;
	transition: .3s;
	font-family: 'Lato Regular'; 
}
  
#loadMore:hover {
	color: $color-white;
	background-color: $color-blue;
	border: 1.5px solid $color-white;
	text-decoration: none; 
	border: 1.5px solid $color-blue;
}
  
.noContent {
	color: #9b9b9b !important;
	background-color: transparent !important;
	padding-top: .8em !important;
	pointer-events: none;
	font-size: .9em;
	text-transform: lowercase !important;
	border: transparent !important;
}

/*-------------Work cards end--------------*/

/*-------------Full width image--------------*/
.full-width-image {
	position: sticky;
	width: auto;
	height: 100%;
	background-image: url(../images/design-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
	padding: 1em 1em 1em 1em; 
    background-position: center; 
	box-shadow: inset 0 0 20em #000000;
}
  
.f-image_text {
	h1 {
		font-size: 4.04em;
		color: darkslategray;
	}
	p {
		font: normal 1.1em 'Cookie', cursive;
		color: darkslategray;
	}
	position: relative;
	text-align: center;
	color: $color-white;
    padding: 7em 0em;
}

/*-------------Full width image end--------------*/

/*--------------Slider-under-menu-----------------*/
.carousel-ready-projects-mobile, .recent-work-slider-mobile {
	display: none;
}

.bg-slider {
	background-color: #262a32;
	padding: 1.5em;
}

.bg-slider .slick-slider {
	width: 45em;
	height: 20em;
	margin-left: auto;
    margin-right: auto;
}

.bg-slider .slick-dotted.slick-slider {
	margin: 0px auto 40px auto;
}

.bg-slider .slick-prev {
	left: 50px;
}

.bg-slider .slick-next {
	right: 50px;
}

.bg-slider .slick-next {
	top: -14.3%;
}

.bg-slider .slick-prev {
	top: -14.3%;
}

.bg-slider .slick-next:before {
	font-family: FontAwesome;
	font-size: 26px;
	content: "\f0a9";
}

.bg-slider .slick-prev:before {
	font-family: FontAwesome;
	font-size: 26px;
	content: "\f0a8";
}
 
.slider-img-u-menu {
	img {
		width: 25em;
		height: 16em;
		padding-left: 1.5em;
		padding-right: 4em;
	}
}

.slider-menu-heading {
	p {
		font-size: larger;
	}
	hr {
		background-color: $color-white;
		width: 35em;
		justify-content: center;
		display: inline-flex;
		height: .03em;
		opacity: .2;
	}
	color: $color-white;
	font-family: $lato-bold;
	text-align: center;
	padding-bottom: 1.3em;
}

/*-------------------Footer-----------------*/
footer{
    position: relative;
    bottom: 0;
}

.footer-company-about { 
	ul {
	margin: auto;
	}
	li {
		list-style-type: none;
		padding-top: .55em;
		:hover {
			color: $color-blue;
		}
	}
	a {
		font-family: 'Lato Regular';
		font-size: 13px;
		color: #92999f;
		text-decoration: none;
		z-index: 1; 
	}
}

.footer-company-about .top-li {
	padding-top: 0em;
}

.footer-distributed .footer-left {
    img {
        margin-left: auto;
        margin-right: auto;
        width: 7em;
        padding-bottom: 1em;
    }
    width: auto!important;
    justify-content: center;
    display: grid!important;
}

.separate-line hr {
    border-top: 1px solid rgba(0, 0, 0, 0.17);
}

.footer-distributed{
	.col-lg-3 {
		width: 24.4%;
	}
	background-color: $color-white;
	box-sizing: border-box;
	width: -webkit-fill-available;
	text-align: left;
	padding: 35px 50px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  $color-gray;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
	span{
		color:  #5383d3;
	}
} 
 
.footer-distributed .footer-links{
	color:  $color-white;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	h6 {
		color: $color-gray;
		font-weight: 700;
	}
	i{
		color: $color-gray;
		font-size: 18px;
		height: 38px;
		line-height: 42px;
		margin-right: 15px;
		vertical-align: middle;
	}
	i.fa-envelope{
		font-size: 15px;
		line-height: 38px;
	}
	p{
		display: inline-block;
		color: $color-gray;
		vertical-align: middle;
		margin: 0;
		font-size: .81em;
	}
	p a{
		color: $color-blue;
	}
	width: 28%;
}
 
.footer-distributed .footer-company-about{
	span {
		display: block;
		color:  $color-gray;
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	line-height: 20px;
	color:  #92999f;
	font-size: 0.81em;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-icons a{
    display: table;
    cursor: pointer;
    font-size: 23px;
    color: $color-gray;
    text-align: center;
    line-height: 35px;
    margin: 0em 0.8em;
    width: 0px;
	:hover {
		color: $color-blue;
	}
}

.footer-icons {
    justify-content: center;
    display: flex;
}

.year {
	margin-bottom: 0em;
    padding-bottom: 0em;
    margin-top: 2em;
    font-size: 0.9em;
	color: $color-gray;
	display: flex;
}
 

@media (max-width: 880px) {
 
	.footer-distributed{
		font-size: 14px;
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		text-align: center;
		margin-left: 0em;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
}


@media (max-width: 480px) {
	.lang-selector, .money-selector, .nav-icons, .all-slide, .work-card-button, .selectors-l-m, .hide-for-mobile, .work-cards-1 {
		display: none;
	} 
	.slider-menu-heading {
		hr {
			display: none;
		}
	}
/*-------------------Menu-----------------*/
.navbar-brand {
	margin-left: auto;
    margin-right: auto;
}

.line-1, .line-2, .line-3 {
    width: 30px;
    height: .2em;
    border-radius: 8em;
    background-color: #45413e;
    margin: 7px 0;
	transition: 0.4s; 
}

.change .line-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px); 
}

.change .line-2 {
	opacity: 0; 
}

.change .line-3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px); 
}
 
.toggle-button  {
	display: block!important;
    padding: .3rem 0rem;
    position: absolute;
    right: .8em;
    top: .7em;
	background: transparent;
    border: transparent;
}

.mobile-menu {
    background-color: $color-white;
	padding: 1em; 
    border-top: 1px solid rgba(0, 0, 0, 0.17);
}
	
.collections-mobile-menu {
	h5 {
		color: $color-gray;
		padding-left: 0.7em;
		padding-bottom: 0.5em;
		font-size: 1em;
		font-weight: 600;
		text-transform: uppercase;
		cursor: pointer; 
		&:after {
			vertical-align: 0.2em;
			content: "";
			border-top: .4em solid;
			border-right: .4em solid #ffffff00;
			border-bottom: 0;
			border-left: .4em solid transparent;
			opacity: 0.45;
			cursor: pointer;
			position: relative;
			right: 9.5em;
			top: 1em;
		}
	}
	.wrap-product-menu {
		padding-left: 0.7em; 
		a {
			font-size: 0.9em; 
			&:hover {
				background-color: unset;
				color: $color-blue;
			}
		}
	}
	display: block !important; 
	text-align: right;
}

.dropdown-item {
	width: auto; 
	margin-left: 8em;
}

.art-mobile-menu {
	h5 {
		color: $color-gray;
		padding-left: 0.7em;
		font-size: 1em;
		font-weight: 600;
		text-transform: uppercase;
		cursor: pointer; 
		&:after {
			vertical-align: 0.2em;
			content: "";
			border-top: .4em solid;
			border-right: .4em solid #ffffff00;
			border-bottom: 0;
			border-left: .4em solid transparent;
			opacity: 0.45;
			cursor: pointer;
			position: relative;
			right: 4em;
			top: 1em;
		 }
	}
	display: block!important; 
	text-align: right;
}

.about-mobile-menu {
	h5 {
		color: $color-gray;
		padding-left: 0.7em;
		font-size: 1em;
		font-weight: 600;
		text-transform: uppercase;
		cursor: pointer; 
		&:after {
			vertical-align: 0.2em;
			content: "";
			border-top: .4em solid;
			border-right: .4em solid #ffffff00;
			border-bottom: 0;
			border-left: .4em solid transparent;
			opacity: 0.45;
			cursor: pointer;
			position: relative;
			right: 5.8em;
			top: 1em;
		}
	}
	display: block!important; 
	text-align: right;
}


.contact-mobile-menu {
	h5 {
		color: $color-gray;
		padding-left: 0.7em;
		font-size: 1em;
		font-weight: 600;
		text-transform: uppercase;
		cursor: pointer; 
		&:after {
			vertical-align: 0.2em;
			content: "";
			border-top: .4em solid;
			border-right: .4em solid #ffffff00;
			border-bottom: 0;
			border-left: .4em solid transparent;
			opacity: 0.45;
			cursor: pointer;
			position: relative;
			right: 7.2em;
			top: 1em;
		}
	}
	display: block!important;
	text-align: right;
}

.wrap-product-menu {
	display: none; 
}
.show-services-categories {
	display: none;
}
/*-------------------Icons bottom menu----------------*/
.nav-icons-2 {
	img {
		float: left;
		width: 1.8em;
		height: 1.8em;
		filter: invert(59%) sepia(0%) saturate(2391%) hue-rotate(138deg) brightness(100%) contrast(110%); 
		&:hover {
			filter: invert(75%) sepia(307%) saturate(1558%) hue-rotate(539deg) brightness(68%) contrast(149%); 
		}
	}
	button {
		margin: auto;
		background: none;
		border: none;
		padding-left: 1.2em;
		padding-right: 1.2em; 
	}
    position: fixed;
    display: flex !important;
    margin: auto;
	padding: 1em 0em;
    background-color: $color-gray;
    bottom: 0;
    z-index: 20;
	width: -webkit-fill-available; 
	border-top: 1.1px solid rgba(128, 128, 128, 0.18);
}	 

.modal {
	.modal-content {
		height: 28.6em;
		margin: auto;
	}
}
 
/*-------------------Menu end-----------------*/
/*-------------------Carousel-----------------*/
.carousel-top {
	.carousel-caption {
		h1 {
			font-size: 2em;
		}
		p1 {
			font-size: 0.85em;
		}
		padding-top: 0px;
		padding-bottom: 60px;
	}
	.carousel-item {
		.stay-middle {
			right: 0%;
			left: 0%;
			margin-bottom: -0.8em;
		}
		.padding-left {
			padding-left: 0em;
			padding-right: 1em;
			margin-left: -1em;
		}
	}
} 
/*-------------------Carousel end-----------------*/
/*-------------------Work cards-----------------*/
.work-cards-head {
	h1 {
		font-size: 2em;
	}
}
.hr-line-1-cards, .hr-line-2-cards {
	width: 1.5em;
	margin-top: 4.25em;
}

/*-------------------Work cards carousel-----------------*/
.carousel-ready-projects-mobile {
	display: block;
	padding-bottom: 3em;
	.slick-dots {
		bottom: -45px;
		li {
			button {
				&:before {
					font-size: 50px;
					color: #cacaca;
				}
			}
		}
		.slick-active {
			button {
				&:before {
					color: $color-white;
					opacity: 0.75;
				}
			}
		}
	}   
}

.slider-menu-projects {
	.work-card-1 {
		margin-left: auto;
		margin-right: auto;
	}
}
/*-------------------Work cards end-----------------*/

/*-------------------Recent work carousel-----------------*/
.recent-work-slider-mobile {
	.separate-line-arrows {
		hr {
			border-top: 1.3px solid rgba(255, 255, 255, 0.24);
			width: 2em;
			margin-left: auto;
			margin-right: auto;
		}
		padding-bottom: 1em;
		margin-top: -2em;
		margin-left: auto;
    	margin-right: auto;
	}
	display: block;
	.slick-dots {
		bottom: -45px;
		li {
			button {
				&:before {
					font-size: 50px;
					color: #cacaca;
				}
			}
		}
		.slick-active {
			button {
				&:before {
					color: $color-white;
					opacity: 0.75;
				}
			}
		}
	}
	.slider-img-u-menu {
		img {
			width: 17em;
			padding: 0;
		}
	}
	.slick-dotted.slick-slider {
		margin-bottom: 5em;
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
}

.slider-recent-work {
	.slick-slide {
		img {
			margin-left: auto;
			margin-right: auto;
		}
	} 

	.slick-prev, .slick-next {
		top: -13%;
	}

	.slick-next {
		right: 115px;
		&:before {
			font-family: "FontAwesome";
			content: "\f0a9";
		}
	}
	.slick-prev {
		left: 115px;
		&:before {
			font-family: "FontAwesome";
			content: "\f0a8";
		}
	}
}

/*-------------------Recent work carousel end-----------------*/

/*-------------------Footer-----------------*/
.footer-distributed .footer-company-about {
	span {
		margin-bottom: 7px;
		margin-top: .9em;
	}
} 

.footer-center {
	.footer-small-screen {
		margin-top: -.7em;
    	margin-bottom: -.6em;
	}
}

.footer-company-about {
	li {
		padding-top: .3em;
	}
} 

.footer-icons {
	padding-top: 1em;
}

.year {
	margin-top: 1em;
	padding-bottom: 4em;
}
/*-------------------Footer end-----------------*/
}


